body{
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-image: url("/assets/background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position: right,bottom;
  margin: 0;
}
* {
    box-sizing: border-box;
}
html{
  height: 100%;
}
h1, h2 {
  text-transform: uppercase;
  font-weight: normal;
  /*font-size: 25px;*/
  font-size: 1.8em;
}
.content {
  padding-top: 50px;
  margin-left: 50px;
  max-width: 500px;
}
input{
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 10px;
}
input::-webkit-input-placeholder{
  text-transform: uppercase;
  color: #000000;

}
input[type="submit"]{
  padding:15px 60px;
  text-transform: uppercase;
  border: 1px solid #000000;
  cursor: pointer;

}
input[type="submit"]:hover{
  color: #ffffff;
  background-color: #000000;
}

.half-width{
  width: 48%;
  float: left;
}
.full-width{
  width: 100%;
}
.innerContent{
  max-width: 400px;
}
.first-input{
  margin-right: 4%;
}
